<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <ws2007FederationHttpBinding>
                <binding name="WS2007FederationHttpBinding_IServiceManagement">
                    <security>
                        <message>
                            <issuer address="http://schemas.microsoft.com/2005/12/ServiceModel/Addressing/Anonymous" />
                            <issuerMetadata address="https://localhost/adfs/services/trust/mex" />
                            <tokenRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                                    <trust:KeySize xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">256</trust:KeySize>
                                    <trust:KeyWrapAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:KeyWrapAlgorithm>
                                    <trust:EncryptWith xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptWith>
                                    <trust:SignWith xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2000/09/xmldsig#hmac-sha1</trust:SignWith>
                                    <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                    <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                                </trust:SecondaryParameters>
                            </tokenRequestParameters>
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59158/ServiceManagement.svc"
                binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IServiceManagement"
                contract="Management.IServiceManagement" name="WS2007FederationHttpBinding_IServiceManagement">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAb9Z28HQ9ZIKZ+13yLds+3hpP/DggAAAAAQAAANUBAAAwggHRMIIBOqADAgECAhBDOzAz+sSynUT4hGSidVYrMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDAeFw0xNTA4MDMxNjM1NTRaFw0yMDA4MDMwMDAwMDBaMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA85H6YfBYwLh1YkDKf5wQyeagnuormCURUPD7/LLUo01+ByQ/tGEeS2Covh1NCJrgl9ygvi6HnZPvbNmj5/dvry9pKhtcHB8f+8l0MvwyUU9r+toNYoC2VdqHd6rXH/2r8Y+Umr8aq8uel5HoovMo9EWKevLW2qYAJNlCOfD8xx0CAwEAAaMkMCIwCwYDVR0PBAQDAgSwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMA0GCSqGSIb3DQEBBQUAA4GBAM0hOmVsMgVD3I2NIFH68wb97uVuj081W15IrwSeH9n2jKkQbYFJcZxU7OlDfRBVR9/6rnlcwDECKacHnY+smm/sNMT00aFOmHIO3Qae1VK9XluczqIhMsnStLbhcxdlmiMtSQlCe4GtfisTBI3TYIX86BdVsfaGLgvXjuqgCNRW" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>